apiVersion: v1
kind: ConfigMap
metadata:
  name: library-mysql-config
data:
  MYSQL_PORT: "3306"
  MYSQL_USER: libraryapp
  MYSQL_DATABASE: sparklmsdb

---
apiVersion: v1
kind: Secret
metadata:
  name: library-mysql-secret
type: Opaque
data:
  MYSQL_PASSWORD: MTIzNDU2NzhhYmM=
  MYSQL_ROOT_PASSWORD: MTIzNDU2NzhhYmM=

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb-config
data:
  libraryapp.sql: |
    GRANT ALL PRIVILEGES ON *.* TO 'libraryapp'@'%' WITH GRANT OPTION;
    FLUSH PRIVILEGES;

    CREATE DATABASE IF NOT EXISTS sparklmsdb;

    USE sparklmsdb;

    -- MariaDB dump 10.19  Distrib 10.5.16-MariaDB, for Linux (x86_64)
    --
    -- Host: localhost    Database: sparklmsdb
    -- ------------------------------------------------------
    -- Server version       10.5.16-MariaDB

    --
    -- Table structure for table `book`
    --

    DROP TABLE IF EXISTS `book`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `book` (
      `id` bigint(20) NOT NULL,
      `authors` varchar(255) NOT NULL,
      `create_date` datetime DEFAULT NULL,
      `isbn` varchar(255) DEFAULT NULL,
      `publisher` varchar(255) DEFAULT NULL,
      `status` int(11) DEFAULT NULL,
      `tag` varchar(255) NOT NULL,
      `title` varchar(255) NOT NULL,
      `category_id` bigint(20) NOT NULL,
      PRIMARY KEY (`id`),
      KEY `FKam9riv8y6rjwkua1gapdfew4j` (`category_id`)
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `book`
    --

    LOCK TABLES `book` WRITE;
    /*!40000 ALTER TABLE `book` DISABLE KEYS */;
    /*!40000 ALTER TABLE `book` ENABLE KEYS */;
    UNLOCK TABLES;

    --
    -- Table structure for table `category`
    --

    DROP TABLE IF EXISTS `category`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `category` (
      `id` bigint(20) NOT NULL,
      `create_date` datetime DEFAULT NULL,
      `name` varchar(255) NOT NULL,
      `notes` varchar(1000) DEFAULT NULL,
      `short_name` varchar(4) NOT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `category`
    --

    LOCK TABLES `category` WRITE;
    /*!40000 ALTER TABLE `category` DISABLE KEYS */;
    /*!40000 ALTER TABLE `category` ENABLE KEYS */;
    UNLOCK TABLES;

    --
    -- Table structure for table `hibernate_sequence`
    --

    DROP TABLE IF EXISTS `hibernate_sequence`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `hibernate_sequence` (
      `next_val` bigint(20) DEFAULT NULL
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `hibernate_sequence`
    --

    LOCK TABLES `hibernate_sequence` WRITE;
    /*!40000 ALTER TABLE `hibernate_sequence` DISABLE KEYS */;
    INSERT INTO `hibernate_sequence` VALUES (6),(6),(6),(6),(6),(6);
    /*!40000 ALTER TABLE `hibernate_sequence` ENABLE KEYS */;
    UNLOCK TABLES;

    --
    -- Table structure for table `issue`
    --

    DROP TABLE IF EXISTS `issue`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `issue` (
      `id` bigint(20) NOT NULL,
      `expected_return_date` datetime DEFAULT NULL,
      `issue_date` datetime NOT NULL,
      `notes` varchar(255) DEFAULT NULL,
      `returned` int(11) DEFAULT NULL,
      `member_id` bigint(20) DEFAULT NULL,
      PRIMARY KEY (`id`),
      KEY `FKgj9b27brkevgyi6mit3uq92lp` (`member_id`)
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `issue`
    --

    LOCK TABLES `issue` WRITE;
    /*!40000 ALTER TABLE `issue` DISABLE KEYS */;
    /*!40000 ALTER TABLE `issue` ENABLE KEYS */;
    UNLOCK TABLES;

    --
    -- Table structure for table `issued_book`
    --

    DROP TABLE IF EXISTS `issued_book`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `issued_book` (
      `id` bigint(20) NOT NULL,
      `returned` int(11) DEFAULT NULL,
      `book_id` bigint(20) NOT NULL,
      `issue_id` bigint(20) NOT NULL,
      PRIMARY KEY (`id`),
      KEY `FK72ejbt1rdbpfx7oh5q3xvcxmu` (`book_id`),
      KEY `FKi5ykx1gwxkl1h8vlyrftyq75w` (`issue_id`)
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `issued_book`
    --

    LOCK TABLES `issued_book` WRITE;
    /*!40000 ALTER TABLE `issued_book` DISABLE KEYS */;
    /*!40000 ALTER TABLE `issued_book` ENABLE KEYS */;
    UNLOCK TABLES;

    --
    -- Table structure for table `member`
    --

    DROP TABLE IF EXISTS `member`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `member` (
      `id` bigint(20) NOT NULL,
      `contact` varchar(255) DEFAULT NULL,
      `date_of_birth` datetime NOT NULL,
      `email` varchar(255) DEFAULT NULL,
      `first_name` varchar(255) NOT NULL,
      `gender` varchar(255) NOT NULL,
      `joining_date` datetime DEFAULT NULL,
      `last_name` varchar(255) DEFAULT NULL,
      `middle_name` varchar(255) NOT NULL,
      `type` varchar(255) NOT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `member`
    --

    LOCK TABLES `member` WRITE;
    /*!40000 ALTER TABLE `member` DISABLE KEYS */;
    /*!40000 ALTER TABLE `member` ENABLE KEYS */;
    UNLOCK TABLES;

    --
    -- Table structure for table `user`
    --

    DROP TABLE IF EXISTS `user`;
    /*!40101 SET @saved_cs_client     = @@character_set_client */;
    /*!40101 SET character_set_client = utf8 */;
    CREATE TABLE `user` (
      `id` bigint(20) NOT NULL,
      `active` int(11) NOT NULL,
      `created_date` datetime NOT NULL,
      `display_name` varchar(255) NOT NULL,
      `last_modified_date` datetime DEFAULT NULL,
      `password` varchar(255) NOT NULL,
      `role` varchar(255) NOT NULL,
      `username` varchar(255) NOT NULL,
      PRIMARY KEY (`id`)
    ) ENGINE=MyISAM DEFAULT CHARSET=latin1;
    /*!40101 SET character_set_client = @saved_cs_client */;

    --
    -- Dumping data for table `user`
    --

    LOCK TABLES `user` WRITE;
    /*!40000 ALTER TABLE `user` DISABLE KEYS */;
    INSERT INTO `user` VALUES (1,1,'2023-07-10 15:34:43','Mr. Admin','2023-07-10 15:34:43','$2a$10$Dm3V6NacwhRNWkAxcgk2b.EnNDiOSUwn3gD5ABCAINQFG5CuPnT8e','Admin','admin'),(2,1,'2023-07-10 15:34:43','Mr. Librarian','2023-07-10 15:34:43','$2a$10$weHxMBU0bBV9IZEdEroT9ugo/yOMz3Kl5.GOj1K76zYrobW1hqFi.','Librarian','librarian');
    /*!40000 ALTER TABLE `user` ENABLE KEYS */;
    UNLOCK TABLES;
    /*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;
